<div class="container">
  <div class="row">

    <!--Table-->
    <table id="tablePreview" class="table table-bordered">
      <!--Table head-->
      <thead>
      <tr>
        <th>#</th>
        <th>Mentor Name</th>
        <th>Skill Name</th>
        <th>Mentor Experience</th>
        <th>Mentor Email</th>
        <th>Connection Status</th>
        <th>Action</th>

      </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Mark</td>
        <td><button class="btn success">Accept</button>&nbsp;&nbsp; <button class="btn danger">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Mark</td>
        <td><button class="btn success">Accept</button>&nbsp;&nbsp; <button class="btn danger">Delete</button></td>
      </tr>

      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->

  </div>
</div>
