

<form (ngSubmit)=onSubmit(f) #f="ngForm">
      <div class="form">
          <strong>Skill Name :</strong>
          <input type="email" class="form-control" id="mentorEmail" placeholder="Email"
                 ngModel name="mentorEmail" required email
                 #email=ngModel>
          <span *ngIf="!email.valid && email.touched" style="color: red">Please Enter a valid email</span>
        <br><br>
        <strong>Time Duration :</strong>
          <input type="password" class="form-control" id="mentorPassword" placeholder="Password"
                 ngModel name="mentorPassword" required
                 #password=ngModel>
          <div class="radio" *ngFor="let option of materialOptions">
            <label>
              <input type="checkbox"
                name="MaterialOptions"
                ngModel [value]="option"
              >{{option}}
            </label>
          </div>

      <br>
      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-success" [disabled]="!f.valid" >Add</button>
      </div>
      </div>
</form>

